body{
	margin:0px;padding:0px;
	background-image:url(../IMG/wood1.jpg);
}
#header{
	background:black;
	color:#fff;
	height:95px;
	font-family:Endor;
	font-size:34px;
	text-align:center;
	line-height:95px;
}
#thumb,#button,#main{
		text-align:center;
}
#thumb img{
	width:200px;
	height:100px;
	margin:10px 0px 15px 0px;
		cursor:pointer;
}
#button input{
	background:#000;
	color:#fff;
	font-family:arial black;
	padding:10px 30px;
	cursor:pointer;
}
#main img{
	width:600px;
	height:300px;
	margin:15px 0px 40px 0px;
}